{% extends "layout.html" %}

{% block pageTitle %}
Service catalogue
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}



<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Services</h1>
        <p class="govuk-body">The services built and maintained by the Gambling Commission Digital Team.</p>

      </div>
    </div>
  </div>

<div class="govuk-grid-row gc-promo-group">

  {% for i in service_catalogue.items %}
  <div class="govuk-grid-column-one-half gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/{{ i.fields.slug }}">
        <div class="gc-promo__content">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{i.fields.title}}</h3>
          <p class="gc-promo__description">{{i.fields.shortDescription}}</p>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}



</div>



{% endblock %}