{% extends "layout.html" %}

{% block pageTitle %}
Service catalogue
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}



<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Services</h1>
        <p class="govuk-body">The services built and maintained by the Gambling Commission Digital Team.</p>

      </div>
    </div>
  </div>

  <div class="govuk-grid-row gc-card-group">
  {% for i in service_catalogue.items %}
        <div class="govuk-grid-column-one-third gc-card-group__item">
          <div class="gc-card">
            <a class="gc-card__link-wrapper" href="/{{ i.fields.slug }}">
              <div class="gc-card__content">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{i.fields.title}}</h3>
                <p class="gc-card__description">{{i.fields.shortDescription}}</p>      
              </div>
            </a>
          </div>
        </div>

  {% endfor %}


</div>



{% endblock %}