<nav class="gc-vertical-nav">
        <ul class="gc-vertical-nav__section">

            <li class="gc-vertical-nav__section-item {{add-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/add-another">Add another</a>
            </li>
            <li class="gc-vertical-nav__section-item {{password-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/password">Password</a>
            </li>
            <li class="gc-vertical-nav__section-item {{password-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/success">Transaction complete</a>
            </li>
            <li class="gc-vertical-nav__section-item {{telephone-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/telephone-number">Telephone numbers</a>
            </li>
           
        </ul>
    </nav>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">

        <li class="gc-vertical-nav__section-item {{betaActive}}">
            <a class="gc-vertical-nav__link" href="https://design-system.service.gov.uk/components/" target="_Blank">GOV Components</a>
        </li>
    </ul>
</nav>