<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">

        <li class="gc-vertical-nav__section-item {{betaActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/beta-banner">Beta banner</a>
        </li>
        <li class="gc-vertical-nav__section-item {{promoActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/promo-cards">Cards</a>
        </li>
        <li class="gc-vertical-nav__section-item {{currencyActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/currency">Currency</a>
        </li>
        <!-- <li class="gc-vertical-nav__section-item {{expanderActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/expander">Expander</a>
        </li> -->
        <li class="gc-vertical-nav__section-item {{feedbackActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/feedback-banner">Feedback banner</a>
        </li>
        <li class="gc-vertical-nav__section-item {{footerActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/footer">Footer</a>
        </li>
        <li class="gc-vertical-nav__section-item {{headerActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/header">Header</a>
        </li>
        <li class="gc-vertical-nav__section-item {{heroActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/hero">Hero</a>
        </li>
        <li class="gc-vertical-nav__section-item {{interruptionActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/interruption-card">Interruption card</a>
        </li>
        <li class="gc-vertical-nav__section-item {{notificationsActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/notifications">Notifications</a>
        </li>
        <li class="gc-vertical-nav__section-item {{search-c-nav-active}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/search">Search</a>
        </li>
        <!-- <li class="gc-vertical-nav__section-item {{tagsActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/tags">Tags</a>
        </li> -->
        <li class="gc-vertical-nav__section-item {{verticalCNavActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/components/vertical-nav">Vertical
                navigation</a>
        </li>
    </ul>
</nav>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">

        <li class="gc-vertical-nav__section-item">
            <a class="gc-vertical-nav__link" href="https://design-system.service.gov.uk/components/" target="_Blank">GOV
                Components</a>
        </li>
    </ul>
</nav>