<nav class="gc-vertical-nav">
        <ul class="gc-vertical-nav__section">

            <li class="gc-vertical-nav__section-item {{add-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/add-another">Add another</a>
            </li>
            <li class="gc-vertical-nav__section-item {{password-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/password">Password</a>
            </li>
            <li class="gc-vertical-nav__section-item {{password-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/success">Transaction complete</a>
            </li>
            <li class="gc-vertical-nav__section-item {{telephone-p-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/patterns/telephone-number">Telephone numbers</a>
            </li>
           
        </ul>
    </nav>