<nav class="gc-vertical-nav">
        <ul class="gc-vertical-nav__section">

            <li class="gc-vertical-nav__section-item {{alert-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/alerts">Alert</a>
            </li>
            <li class="gc-vertical-nav__section-item {{beta-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/beta-banner">Beta banner</a>
            </li>
            <li class="gc-vertical-nav__section-item {{currency-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/currency">Currency</a>
            </li>
            <li class="gc-vertical-nav__section-item {{expander-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/expander">Expander</a>
            </li>
            <li class="gc-vertical-nav__section-item {{footer-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/footer">Footer</a>
            </li>
            <li class="gc-vertical-nav__section-item {{header-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/header">Header</a>
            </li>
            <li class="gc-vertical-nav__section-item {{hero-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/hero">Hero</a>
            </li>
            <li class="gc-vertical-nav__section-item {{interruption-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/interruption-card">Interruption card</a>
            </li>
            <li class="gc-vertical-nav__section-item {{promo-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/promo-cards">Promo (cards)</a>
            </li>
            <li class="gc-vertical-nav__section-item {{search-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/search">Search</a>
            </li>
            <li class="gc-vertical-nav__section-item {{tags-c-nav-active}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/tags">Tags</a>
            </li>
            <li class="gc-vertical-nav__section-item {{verticalCNavActive}}">
                <a class="gc-vertical-nav__link " href="/design-system/components/vertical-nav">Vertical
                    navigation</a>
            </li>

        </ul>
    </nav>