<h3 class="govuk-heading-m">Audience</h3>
<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">




        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/a-z">A-Z</a>
        </li>
        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/audience">Audience</a>
        </li>
        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/controlled-language">Controlled language</a>
        </li>
        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/emails-and-text-messages">Emails and text
                messages</a>
        </li>
        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/key-styles">Key points on style</a>
        </li>
        <li class="gc-vertical-nav__section-item {{contentActive}}">
            <a class="gc-vertical-nav__link " href="/content/tools">Tools</a>
        </li>

    </ul>
</nav>