<li class="app-navigation__list-item {{designactive_guidance}}">
    <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/"
      data-topnav="Styles">Guidance</a>
  </li>

<li class="app-navigation__list-item {{designactive_styles}}">
    <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/styles/"
        data-topnav="Styles">Styles</a>
</li>

<li class="app-navigation__list-item {{designactive_components}}">
    <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/components/"
        data-topnav="Components">Components</a>
</li>

<li class="app-navigation__list-item {{designactive_patterns}}">
    <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/patterns/"
        data-topnav="Patterns">Patterns</a>
</li>