

<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">

        <li class="gc-vertical-nav__section-item {{typoActive}}">
            <a class="gc-vertical-nav__link " href="/design-system/styles/typography">Typography</a>
        </li>
        <li class="gc-vertical-nav__section-item {{pageActive}}">
                <a class="gc-vertical-nav__link " href="/design-system/styles/page">Page template</a>
            </li>

    </ul>
</nav>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<nav class="gc-vertical-nav">
    <ul class="gc-vertical-nav__section">

        <li class="gc-vertical-nav__section-item {{betaActive}}">
            <a class="gc-vertical-nav__link" href="https://design-system.service.gov.uk/components/" target="_Blank">GOV Components</a>
        </li>
    </ul>
</nav>