{% extends "layout.html" %}

{% block pageTitle %}
Getting started
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}

<section class="gc-hero gc-hero--image gc-hero--image-description govuk-!-padding-bottom-4">

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-7">User Research</h1>
        <p class="govuk-body-l">User Research explanation and summary</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

{% endblock %}