{% extends "layout.html" %}

{% block pageTitle %}
Getting started
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list govuk-width-container">

        {% include "../../includes/design-main-nav.html" %}

    </ul>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../../includes/component-patterns.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-l">Patterns</h1>
            <p class="govuk-body">Patters are predefined sections which implement one or more components and ensure consistency across services.</p>
            <p>A pattern must be implemented in a standard way across all services. This reduces the issues users may
                face when using multiple services.</p>
            <p>This is a key UX law where users recognise patterns over recalling patterns. A user is more likely to
                recognise a pattern for when something is complete, over recalling what was being displayed.</p>

        </div>

    </div>

</div>
{% endblock %}