{% extends "layout.html" %}

{% block pageTitle %}
Getting started
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list govuk-width-container">
        <li class="app-navigation__list-item">
            <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/"
                data-topnav="Styles">Guidance</a>
        </li>

        <li class="app-navigation__list-item app-navigation__list-item--current">
            <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/styles/"
                data-topnav="Styles">Styles</a>
        </li>

        <li class="app-navigation__list-item">
            <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/components/"
                data-topnav="Components">Components</a>
        </li>

        <li class="app-navigation__list-item">
            <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/patterns/"
                data-topnav="Patterns">Patterns</a>
        </li>

        <li class="app-navigation__list-item">
            <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/design-system/tools/"
              data-topnav="Patterns">Tools</a>
          </li>


    </ul>
</nav>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../../includes/styles-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-l">Styles</h1>
            <p class="govuk-body">
                Make your service look and feel like Gambling Commission services.
            </p>
            <p class="govuk-body"> If you are using the GC Prototype Kit or have the GC Frontend stylesheets and
                javascript included in your build, the coded examples in the Design System will not need any additional
                styling.
            </p>
            <p class="govuk-body"> If you need to apply styles manually, you should still follow existing conventions.
                For example, do not assign new meanings to colours, do not change the style of buttons or adjust the
                thickness of borders on form inputs.
            </p>

            <h2 class="govuk-heading-l">Tools</h2>
            <ul class="govuk-list">
                <li><a href="https://contrast-checker.glitch.me" target="_Blank" rel="noopener">Contrast checker</a> (link opens in new window)</li>
            </ul>
        </div>

    </div>

</div>
{% endblock %}