{% extends "layout.html" %}

{% block pageTitle %}
Beta banner
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list govuk-width-container">

        {% include "../../includes/design-main-nav.html" %}

    </ul>
</nav>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../../includes/component-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-xl">Beta banner</h1>
            <p class="govuk-body">
               Identifies services that are in the Beta phase and allows users to provide feedback about the service.
            </p>

            <p class="govuk-body">
                    We must <a href="https://www.gov.uk/service-manual/measuring-success" target="_blank">measure success</a> of services and provide a means for users to submit feedback about a service, in line with the Service manual.
                 </p>

            <p class="govuk-body">
                    For services which are officially live, use the <a href="/design-system/components/feedback-banner">Feedback banner</a> instead.
                </p>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Example
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#past-day">
                            Example
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Code
                        </a>
                    </li>

                </ul>
                <section class="govuk-tabs__panel" id="past-day">

                        <div class="gc-beta-banner">
                                <div class=" govuk-width-container">
                                    <span class="gc-beta-tag">beta</span> This is a new website <a href="/feedback/"> give us feedback</a>.
                                </div>
                            </div>

                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                    <div class="app-tabs__container">
                        <pre><code class="html">&#x3C;div class=&#x22;gc-beta-banner&#x22;&#x3E;
    &#x3C;div class=&#x22; govuk-width-container&#x22;&#x3E;
        &#x3C;span class=&#x22;gc-beta-tag&#x22;&#x3E;beta&#x3C;/span&#x3E; This is a new website &#x3C;a href=&#x22;/feedback/&#x22;&#x3E; give us feedback&#x3C;/a&#x3E;.
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
                    </div>
                </section>

            </div>


            <h2 class="govuk-heading-l">When to use this component</h2>
            <p class="govuk-body">
                Use when a service is in the Beta phase to allow users to provide feedback about the service.
            </p>

            <h2 class="govuk-heading-l">When not to use this component</h2>
            <p class="govuk-body">
                Don't use this component on services which are officially live and out of the beta phase, use the <a href="/design-system/components/feedback-banner">Feedback banner</a> instead.

            </p>           

            <h2 class="govuk-heading-l">How it works</h2>
            <p class="govuk-body">
                    The beta banner is used on all beta services and appears at the top of all pages before the header. 
                </p>
            <p class="govuk-body">
               The component contains a link to the service feedback page. 
            </p>

            <h2 class="govuk-heading-l">Research on this component</h2>
            <p class="govuk-body">
                There has not been any specific research activity on this component.
            </p>

        </div>

    </div>
</div>

{% endblock %}