{% extends "layout.html" %}

{% block pageTitle %}
Hero
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list govuk-width-container">
    
            {% include "../../includes/design-main-nav.html" %}
    
        </ul>
    </nav>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../../includes/component-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-xl">Hero</h1>
            <p class="govuk-body">
                This component is under review
            </p>

        
        </div>

    </div>
</div>

{% endblock %}