{% extends "layout.html" %}

{% block pageTitle %}
Interruption card
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list govuk-width-container">
    
            {% include "../../includes/design-main-nav.html" %}
    
        </ul>
    </nav>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../../includes/component-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-xl">Interuption card</h1>
            <p class="govuk-body">
                A component that interrupts the user flow with important information and must be acknowledged before continuing.
            </p>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Example
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#past-day">
                            Example
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Code
                        </a>
                    </li>

                </ul>
                <section class="govuk-tabs__panel" id="past-day">

<div class="gc-interruption-card">
    <h2 class="govuk-heading-l">Before you continue</h2>
    <p class="govuk-body-l">If you continue, you cannot change the information you have provided so far.</p>
    <p class="govuk-body-l">If you are happy with the information provided, continue.</p>
    <a href="" class="govuk-button">Continue</a>
</div>

                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                    <div class="app-tabs__container">
                        <pre><code class="html">&#x3C;div class=&#x22;gc-interruption-card&#x22;&#x3E;
    &#x3C;h2 class=&#x22;govuk-heading-l&#x22;&#x3E;Before you continue&#x3C;/h2&#x3E;
    &#x3C;p class=&#x22;govuk-body-l&#x22;&#x3E;If you continue, you cannot change the information you have provided so far.&#x3C;/p&#x3E;
    &#x3C;p class=&#x22;govuk-body-l&#x22;&#x3E;If you are happy with the information provided, continue.&#x3C;/p&#x3E;
    &#x3C;a href=&#x22;&#x22; class=&#x22;govuk-button&#x22;&#x3E;Continue&#x3C;/a&#x3E;
&#x3C;/div&#x3E;</code></pre>
                    </div>
                </section>

            </div>


            <h2 class="govuk-heading-l">When to use this component</h2>
           <ul class="govuk-list govuk-list--bullet">
               <li>to draw a users attention to important information specific to that point in their journey</li>
               <li>allow users to acknowledge something before continuing</li>
               <li>If important information is styled as normal page content and users are missing it, this is unexpected so helps bring attention to important or essential information</li>
           </ul>

            <h2 class="govuk-heading-l">When not to use this component</h2>
            <ul class="govuk-list govuk-list--bullet">
                    <li>for large amounts of content</li>
                    <li>the effectiveness of this pattern is based on it's unexpected appearance, so should be used sparingly</li>
                </ul>

                <p class="govuk-body">Consider how content can be made clearer or easier to understand by users before using this component in services.</p>

            <h2 class="govuk-heading-l">The interruption card should:</h2>
            <ul class="govuk-list govuk-list--bullet">
                    <li>have a large heading <code>govuk-heading-l</code></li>
                    <li>use larger body text <code>govuk-body-l</code></li>
                    <li>use a "Continue" button to progress to the next step in the users journey</li>
                </ul>

            <h2 class="govuk-heading-l">Research on this component</h2>
            <p class="govuk-body">
                This pattern was tested during the Games Register project with users and was successful in stopping users mid-journey before continuing.
            </p>

        </div>

    </div>
</div>

{% endblock %}