{% extends "layout.html" %}

{% block pageTitle %}
Getting started
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}

<section class="gc-hero gc-hero--image gc-hero--image-description govuk-!-padding-bottom-4">

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-7">Service Manual</h1>
        <p class="govuk-body-l">A collection of standards, processes, styles, components and patterns to design and
          build consistent Gambling Commission services. </p>

      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

<div class="govuk-grid-row gc-promo-group">

  <div class="govuk-grid-column-one-third gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/get-started/">

        <div class="gc-promo__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Get started
          </h2>
          <p class="gc-promo__description">How to use this system and understanding the work the Digital Team do</p>
        </div>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/services">

        <div class="gc-promo__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Services
          </h2>
          <p class="gc-promo__description">Service catalog of digital services and web services supported by the Digital
            Team</p>
        </div>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/design-system">

        <div class="gc-promo__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Design system
          </h2>
          <p class="gc-promo__description">All the styles, components and patterns used to design and build digital
            services</p>
        </div>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/user-research">

        <div class="gc-promo__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">User research
          </h2>
          <p class="gc-promo__description">How user research works in the Gambling Commission, tools, policies and
            processes</p>
        </div>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third gc-promo-group__item">
    <div class="gc-promo app-promo--grey">
      <a class="gc-promo__link-wrapper" href="/content">

        <div class="gc-promo__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Content
          </h2>
          <p class="gc-promo__description">How we provide content for the services we write</p>
        </div>
      </a>
    </div>
  </div>

</div>

{% endblock %}