{% extends "layout.html" %}

{% block pageTitle %}
Content
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../includes/content-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-l">A - Z </h1>           
          
            <h2 class="govuk-heading-m">Alternate Dispute Resolution (ADR)</h2>
            <h3 class="govuk-heading-s">Description:</h3>
            <p class="govuk-body">Dispute resolution processes and techniques that act as a means for disagreeing parties to come to an agreement short of litigation.</p>
            <h3 class="govuk-heading-s">User description:</h3>
            <p class="govuk-body">...</p>

        </div>


    </div>

</div>
{% endblock %}