{% extends "layout.html" %}

{% block pageTitle %}
Content
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../includes/content-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-l">Audience</h1>           
   
            <p class="govuk-body">Audience: How we write for our users, use language they use, be specific, informative, clear, concise and remove emotion</p>
        </div>

    </div>

</div>
{% endblock %}