{% extends "layout.html" %}

{% block pageTitle %}
Content
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "../includes/content-nav.html" %}
        </div>

        <div class="app-pane__content">
            <h1 class="govuk-heading-l">Emails and text messages</h1>           

            <p class="govuk-body">Emails and texts: How we write emails and texts, addressing the user, sign off, subjects</p>
        </div>

    </div>

</div>
{% endblock %}