{% extends "layout.html" %}

{% block pageTitle %}
Getting started
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}


{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
               <div class="app-pane__content">
            <h1 class="govuk-heading-l">Get started</h1>
            <p class="govuk-body">The design system is a collection of resources to help design and build consistent Gambling Commission services.</p>
        </div>

    </div>

</div>
{% endblock %}